body {
	font-family: sans-serif;
}

.result-single {
	color: black;
	padding: 2px;
	border: 1px solid #999;
	border-radius: 2px;
	padding: 4px 6px;
	font-size: 16px;
	display: block;
	height: 300px;
	width: 100%;
}

.t-label, .sublabel, .charname {
	font-size: 1.05em;
	line-height: 1.1em;
}

.dropdown {
	width: 239px;
	margin: 0 auto;
}

.dropdown > button {
	width: 239px;
}

.dropdown > button > div {
	display: inherit;
}